TransferInfo_AC/Web References/RECIBE_IMAGENES_AC/WS_RECIBEIMAGENES.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RECIBE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ArchivoZip" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idTramite" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idExpediente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nss" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RECIBEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RECIBEResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RECIBESoapIn">
    <wsdl:part name="parameters" element="tns:RECIBE" />
  </wsdl:message>
  <wsdl:message name="RECIBESoapOut">
    <wsdl:part name="parameters" element="tns:RECIBEResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_RECIBEIMAGENESSoap">
    <wsdl:operation name="RECIBE">
      <wsdl:input message="tns:RECIBESoapIn" />
      <wsdl:output message="tns:RECIBESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_RECIBEIMAGENESSoap" type="tns:WS_RECIBEIMAGENESSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RECIBE">
      <soap:operation soapAction="http://tempuri.org/RECIBE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_RECIBEIMAGENESSoap12" type="tns:WS_RECIBEIMAGENESSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RECIBE">
      <soap12:operation soapAction="http://tempuri.org/RECIBE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_RECIBEIMAGENES">
    <wsdl:port name="WS_RECIBEIMAGENESSoap" binding="tns:WS_RECIBEIMAGENESSoap">
      <soap:address location="http://localhost:24639/WS_RECIBEIMAGENES.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_RECIBEIMAGENESSoap12" binding="tns:WS_RECIBEIMAGENESSoap12">
      <soap12:address location="http://localhost:24639/WS_RECIBEIMAGENES.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>