TransferInfo_AC/Web References/PUENTE_IMAGENES_AC/WS_PUENTE_IMAGENES.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ENLACE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuarioWin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrasenaWin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idTramite" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idExpedientes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nss" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="archivo" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ENLACEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ENLACEResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ENLACESoapIn">
    <wsdl:part name="parameters" element="tns:ENLACE" />
  </wsdl:message>
  <wsdl:message name="ENLACESoapOut">
    <wsdl:part name="parameters" element="tns:ENLACEResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_PUENTE_IMAGENESSoap">
    <wsdl:operation name="ENLACE">
      <wsdl:input message="tns:ENLACESoapIn" />
      <wsdl:output message="tns:ENLACESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_PUENTE_IMAGENESSoap" type="tns:WS_PUENTE_IMAGENESSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ENLACE">
      <soap:operation soapAction="http://tempuri.org/ENLACE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_PUENTE_IMAGENESSoap12" type="tns:WS_PUENTE_IMAGENESSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ENLACE">
      <soap12:operation soapAction="http://tempuri.org/ENLACE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_PUENTE_IMAGENES">
    <wsdl:port name="WS_PUENTE_IMAGENESSoap" binding="tns:WS_PUENTE_IMAGENESSoap">
      <soap:address location="http://localhost:7363/WS_PUENTE_IMAGENES.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_PUENTE_IMAGENESSoap12" binding="tns:WS_PUENTE_IMAGENESSoap12">
      <soap12:address location="http://localhost:7363/WS_PUENTE_IMAGENES.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>